:root {
    --white-color: #fff;
    --black-color: #000000;
    --grey-color: #999;
    --dark-grey-color: #414040;
    --golden-color: #FFD700;
    --mobile-homepage-font: larger;
    --mobile-title-font: large;
    --mobile-body-font: small;
    --tablet-homepage-font: x-large;
    --tablet-title-font: larger;
    --tablet-body-font: medium;
    --desktop-homepage-font: xx-large;
    --desktop-title-font: x-large;
    --desktop-body-font: large;
    --big-desktop-homepage-font: xxx-large;
    --big-desktop-title-font: xx-large;
    --big-desktop-body-font: x-large;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white-color);
}

::-webkit-scrollbar {
    width: .6em;
    height: .6em;
}
  
::-webkit-scrollbar-track {
    background: var(--white-color); 
}

::-webkit-scrollbar-thumb {
    background: var(--grey-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-grey-color);
}

html {
    font-family: Verdana, sans-serif;
    background-color: var(--black-color);
    word-break: normal;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    display: flex;
    margin: 3vh auto 3vh auto;
    height: 100vh;
    width: 80vw;
    text-align: center;
    flex-direction: column;
}

h1,
.subtitle {
    color: var(--golden-color);
}

.logo {
    width: 35%;
}

header {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}

.location {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.socials {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.social_logo {
    width: 20px;
    margin: 5px 0px -5px 0px;
}

.location > span,
.socials > span {
    margin-top: 5px;
}




/* Da rimuovere una volta completato. */
/* Da qui */
.ouro {
    position: relative;
    display: inline-block;
    height: 46px;
    width: 46px;
    margin: 1em;
    border-radius: 50%;
    background: none repeat scroll 0 0 var(--golden-color);
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) inset, 0 0 25px rgba(0, 0, 255, 0.075);
}

.ouro:after {
    content: "";
    position: absolute;
    top: 9px;
    left: 9px;
    display: block;
    height: 28px;
    width: 28px;
    background: none repeat scroll 0 0 var(--golden-color);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
}

.ouro>span {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

.left {
    left: 0
}

.right {
    left: 50%
}

svg {
    width: 100%;
    height: 200px;
    display: block;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.circle {
    fill: transparent;
    stroke: var(--golden-color);
    stroke-width: 3px;
    -webkit-animation: 1.5s circle infinite ease-in;
    animation: 1.5s circle infinite ease-in;
}

@keyframes circle {
    0% {
        stroke-dasharray: 0 400;
        stroke-dashoffset: 0;
    }

    25% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 400 400;
        stroke-dashoffset: -400;
    }
}

@-webkit-keyframes circle {
    0% {
        stroke-dasharray: 0 400;
        stroke-dashoffset: 0;
    }

    25% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dasharray: 400 400;
        stroke-dashoffset: -400;
    }
}

.msg {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.4rem;
    color: var(--golden-color);
}

.loader {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
}
/* A qui */